# Hi! Lets try!

version 0.1

#### Copy some libraries from Titanik case

In [2]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

#### Import some data

In [3]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

#### Overview our data.

In [3]:
print(train_df.columns.values)
print(train_df[:5])
print(test_df[:5])

['id' 'text' 'author']
        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL
        id                                               text
0  id02310  Still, as I urged our leaving Ireland with suc...
1  id24541  If a fire wanted fanning, it could readily be ...
2  id00134  And when they had broken down the frail door t...
3  id27757  While I was thinking how I should possibly man...
4  id04081  I am not sure to what limit his knowledge may ...

##### Shape and data type.

In [4]:
train_df = train_df.drop(['id'],axis=1)
print(train_df.shape)
print(test_df.shape)

(19579, 2)
(8392, 2)

In [5]:
train_df.info()
print('_'*40)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19579 entries, 0 to 19578
Data columns (total 2 columns):
text      19579 non-null object
author    19579 non-null object
dtypes: object(2)
memory usage: 306.0+ KB
________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8392 entries, 0 to 8391
Data columns (total 2 columns):
id      8392 non-null object
text    8392 non-null object
dtypes: object(2)
memory usage: 131.2+ KB

In [125]:
train_df[["author","text"]].groupby(["author"]).count()

        text
author
EAP     7900
HPL     5635
MWS     6044

mmmm

In [7]:
r = train_df+" "
r = r.groupby('author').apply(lambda x: x.sum()).drop(["author"],axis=1)

In [10]:
print(r.shape)
print(r.iloc[0].text)

In [11]:
r

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>text</th>
    </tr>
    <tr>
      <th>author</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>EAP</th>
      <td>This process, however, afforded me no means of...</td>
    </tr>
    <tr>
      <th>HPL</th>
      <td>It never once occurred to me that the fumbling...</td>
    </tr>
    <tr>
      <th>MWS</th>
      <td>How lovely is spring As we looked from Windsor...</td>
    </tr>
  </tbody>
</table>
</div>